div.guide-popup
  div.header
    i.icon.icon-close-white.close
    i.icon.icon-water-drop
    i.icon.icon-water-drop-big
    i.icon.icon-fur
    h2.brand
      img(src="/img/guide-gee.png")
  div.content
    div.steps
      h3 招聘快人一步
      ul.clearfix
        li.pull-left.phone
          div
            i.icon.icon-phone
          p.one Step1 在线约人
          p 1小时反馈
        li.pull-left
          i.icon.icon-lead-arrows
        li.pull-left.person
          div
            i.icon.icon-blue-person
          p.one Step2 闪电面试
          p 24小时面试
        li.pull-left
          i.icon.icon-lead-arrows
        li.pull-left.post
          div
            i.icon.icon-tie
          p.one Step3 极速到岗
          p 3天到岗
    div.our-service
      h3 招聘、外包
      div.goto.clearfix
        div.pull-left
          p 提供灵活多变的用工方式，有效规避企业用工风险
        div.pull-right
          i.icon.icon-lead-arrows
          a.btn.btn-main(href='/talents.html') 马上约
    div.about-offshore
      h3 离岸外包
      div.goto.clearfix
        div.pull-left
          p 即派员工以离岸形式远程、全职支持您的人力资源招聘工作
        div.pull-right
          i.icon.icon-lead-arrows
          a.btn.btn-main(href='/offshore.html') 去看看