div#footer
	div.container
		div.cmp-footer
			div.cmp-footer-content.clearfix
				div.pull-left.footerL
					a.pull-left.spfist.color-gray9(href='http://www.miitbeian.gov.cn/') ©2014-2016 苏ICP备14059286号-2 荐客极聘网络技术(苏州)有限公司
				div.pull-right.footerR
					ul.clearfix
						li
							a(href='/aboutus.html') 关于我们
						li
							a(href='/clause.html') 服务条款
						li
							a(href='/cases.html') 成功案例
						li
							i.i-phone
								p.p-phone.hover-tip 0512-67610835
						li
							i.i-email
								p.p-email.hover-tip vickyhe@careerintlinc.com
						li
							i.i-wechat
								img.qrcode(src="/img/wechat-code.jpg")