div.cmp-headerb
  div.container.clearfix
    div.this-is-nav
      img.logo.pull-left(src='/img/nav-logo.png')
      ul.pull-right.this-is-menu
        li
          a(href='/talents.html' title='租人才') 租人才
        li
          a(href='/service.html' title='派服务') 派服务
        li
          a.offshore(href='/offshore.html' title='离岸外包') 离岸外包
        li.login
          a.login-href(href='/login.html' title='主页') 登录
        li.register
          a(href='/signup.html' title='主页') 注册
    div.banner-info
      p.first
        span 租人才上即派，欢迎登录<em>即派官网</em>！
      p.second
        span Welcome to GeeTemp