doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="Keywords" content="灵活用工,派遣,外包,人才,人力")
    block meta
    link(rel='shortcut icon', href='/img/ico.png', type='image/x-icon')
    block title
    block style
  body
    include ./header.jade
    div#page
      block content
    include ./footer.jade
    script(type="text/javascript" src='http://tajs.qq.com/stats?sId=62471291&b.js' charset="UTF-8" )
    <!-- build:#{fileName} -->
    script(src='/js/gt_analysis.js')
    script(src='/js/jquery.js')
    script(src='/js/jade-runtime.js')
    script(src='/js/component/utils.js')
    script(src='/js/component/jquery.placeholder.js')
    script(src='/js/component/jquery.ajax.js')
    script(src='/js/component/jquery.page.js')
    script(src='/js/component/jquery.form.checkbox.js')
    script(src='/js/component/jquery.popup.js')
    script(src='/js/component/jquery.popupLogin.js')
    script(src='/js/component/jquery.popupSemantic3.js')
    script(src='/js/component/jquery.popupSuccess.js')
    script(src='/js/component/jquery.popupFailure.js')
    script(src='/js/component/jquery.button.js')
    script(src='/js/component/jquery.cookie.js')
    script(src='/js/template/tpl-guide.js')
    block script
    <!-- endbuild -->