doctype html
block title
  meta(charset="utf-8")
  link(rel='shortcut icon', href='/img/ico.png', type='image/x-icon')
  title 即派--404

block style
  link(href='/css/special/error.css',rel='stylesheet')

block content
  div.container.not-found
    div.error-area
    div.error-info 很抱歉，您访问的页面不存在！
    div.btn-area.clearfix
      a.return.btn.btn-main(href='index.html' title='返回首页') 返回首页