doctype html
block title
  meta(charset="utf-8")
  link(rel='shortcut icon', href='/img/ico.png', type='image/x-icon')
  title 即派--500

block style
  link(href='/css/special/error.css',rel='stylesheet')

block content
  div.container.host-error
    div.error-area
    div.error-info 很抱歉，服务器出错，请稍后访问！
    div.btn-area.clearfix
      a.return.btn.btn-main(href='index.html' title='返回首页') 返回首页