extends partials/layout

block title
  title UI KIT 页
block style
  link(href='/css/special/uikits.css',rel='stylesheet')
block content
  include partials/headerb.jade
  div.dir.form
    h2 表单
    div.input
      h4 文本框
      div.content
        input(type='text')
        input.error(type='text')
    div.checkbox
      h4 单选框
      div.content
        input(type='checkbox')
        input.size-x(type='checkbox')
        div
          a.btn.btn-main.checkbox-triggle
    div.button
      h4 按钮
      div.content
        a.btn 默认
        a.btn.btn-main 主色按钮
        a.btn.btn-hollow 空心主按钮
    div.select
      h4 下拉选择
      div.content
        div.dropdown
  div.dir.com
    h2 其他组件
    div.one-paging
      h4 分页
      div.content
        div.paging
    div.one-loading
      h4 加载
      div.content
        div.loading
    div.one-paging
      h4 导航
      div.content
        div#nav
    div.one-paging
      h4 标签
      div.content
        div#tab
    div.one-popup
      h4 弹窗
      div.content
        a#trigger.btn.btn-main popup
        div#popup
          p 我是一个弹窗
          a.close 关闭
    div
      h4 弹窗公用部分：头，尾
      p 做即派的任何其他的弹窗，都可以引用它，并补充上内容就可以了
      div.content
        <!--global jade-->
        div.popup-global
          div.header
            h2 成功消息提示
            a.close
          div.content
            p(style='padding:30px 0;text-align:center;') 内容内容内容内容内容内容内容内容
          div.footer
            a.btn.btn-hollow 取消
            a.btn.btn-main 确认
    div
      h4 语义化弹窗
      div.content
        a.popup-sem3-trigger.btn.btn-hollow sem popup
    div
      h4 结果返回-成功弹窗
      div.content
        a.popup-success-trigger.btn.btn-hollow(style='width:120px;') success popup
    div
      h4 结果返回-失败弹窗
      div.content
        a.popup-failure-trigger.btn.btn-hollow(style='width:120px;') failure popup
    div
      h4 登录弹窗/ajax封装
      div.content
        a.popup-login-trigger.btn.btn-hollow(style='width:120px;') login popup
    div
      h4 checkbox列表
      div.content.checkbox-group
        div
          span 总开关
          input.ck-leader(type='checkbox')
        div
          span 组开关
          input.ck-member(type='checkbox')
          input.ck-member(type='checkbox')
          input.ck-member(type='checkbox')
          input.ck-member(type='checkbox')
    div
      h4 滚动条动画
      div.content
        a#link 锚点
        a.plink(href='#link',style='position:fixed;top:0;right:0;display:block;width:120px;background:#32a4e5;color:#fff;z-index:1000;') 锚点Link
    div
      h4 标签悬浮
      div.content
        div.card(style='width:200px;height:500px;margin-left:50px;margin-top:50px;border-radius:15px;')
          h5 卡片悬浮
          p 鼠标进入向上悬浮
          p 鼠标出去向下回复
    div
      #login-popup.popup-global(style='position: fixed; z-index: 101; top: 25%; left: 701.5px;')
        .header
          h2 登录
          a.close(style='cursor: pointer;')
        .content.frm
          form
            .account
              p.error.hide
              div
                input(type='text', placeholder='账号(注册手机)', name='account', maxlength='20')
                i.icon.icon-person
            .pwd
              p.error.hide
              div
                input(type='password', placeholder='输入密码', name='pwd', maxlength='20')
                i.icon.icon-lock
            .attach.clearfix
              .pull-left
                span.input-checkbox
                  input#input-rember(type='checkbox')
                  i(style='display: inline-block; width: 14px; height: 14px; background: url("/img/cb-normal.png") no-repeat scroll;')
                | 记住密码
              .pull-right
                a.forget(href='./getpassword.html') 忘记密码？
            p.back-error
        .footer
          div.lg-btn-box
            a.btn.btn-main(href='javascript:;') 登录
          div.go-signup-box
            a.go-signup(href='/signup.html') 立即注册
block script
  script(src='/js/component/jquery.page.js')
  script(src='/js/component/jquery.nav.js')
  script(src='/js/component/jquery.tab.js')
  script(src='/js/component/jquery.form.checkbox.js')
  script(src='/js/component/jquery.form.dropdown.js')
  script(src='/js/component/jquery.paging.js')
  script(src='/js/component/jquery.loading.js')
  script(src='/js/component/jquery.popup.js')
  script(src='/js/component/jquery.popupSemantic3.js')
  script(src='/js/component/jquery.popupSuccess.js')
  script(src='/js/component/jquery.popupFailure.js')
  script(src='/js/component/jquery.ajax.js')
  script(src='/js/component/jquery.form.checkgroup.js')
  script(src='/js/uikits.js')